$baseURI: '/src/assets/dist/hero.jpg';

#hero {
  height: 560px;
  position: relative;
  margin-top: $grid14x;
  background-image: url('#{$baseURI}');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media #{$pablet} {
    height: 480px;
  }

  .hero__dim {
    width: 100%;
    height: 100%;
    background-color: $black38;
  }

  .hero__wrapper {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .hero__subtitle {
      margin-bottom: -#{$grid2x};
      @include font-size($grid5x);
    }

    .hero__title {

      .hero__title--nbsp {
        display: inline-block;
      }

      @media #{$middle} {
        @include font-size($grid6x);
        @include line-height($grid6x);

        .hero__title--nbsp {
          display: none;
        }

        .hero__br {

          &::after {
            content: "\a ";
            white-space: pre;
          }
        }
      }
    }

    @media #{$middle} {

      .hero__title--nbsp {
        display: none;
      }

      .hero__br {

        &::after {
          content: "\a ";
          white-space: pre;
        }
      }
    }
  }


  .global__cta {
    display: inline-block;

    .global__cta--btn {
      width: 160px;
      margin: $grid2x;

      @media #{$pablet} {
        width: 148px;
      }

      &.brand--bg {
        color: #fff;
        border: 2px solid $brand-yellow;
        background-color: $brand-yellow;

        &:hover {
          color: #fff;
          background-color: $brand-yellow;
        }
      }

      &:hover {
        color: $brand-yellow;
        background-color: #fff;
        opacity: .64;
      }
    }
  }
}
