#stats {
  background-color: $brand-yellow;

  .container {
    color: #fff;
    text-align: center;
    @include grid-layout(3, 100px, $grid16x);

    @media #{$middle} {
      @include grid-layout(3, 100px, $grid6x);
    }

    @media #{$pablet} {
      @include grid-layout(1, 100px, $grid4x);
    }

    .stats__wrapper {

      .stats__count {
        margin-top: $grid10x;
        @include font-size($grid12x);
      }

      .stats__title {
        font-weight: 900;
        margin-bottom: 0;
        margin-top: -#{$grid6x};
      }
    }
  }
}
