/* ==============================
  color stack
============================== */
$text333:      #333;
$text555:      #555;
$text777:      #777;
$text999:      #999;
$textaaa:      #aaa;
$textccc:      #ccc;
$texteee:      #eee;
$stroke:       #eee;

$brand:        #FFBE19;
$brand-hover:  #D69F14;