@charset "UTF-8";
@import "https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
/* ==============================
    normalize css
============================== */
html {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

body {
  line-height: 1.6rem; }

::selection {
  background-color: transparent !important; }

/* ==============================
    scss modules
============================== */
/* ==============================
  4px grid system
============================== */
/* ==============================
  media query breakpoints
============================== */
/* ==============================
  color stack
============================== */
/* ==============================
  gpu hack
============================== */
/* ==============================
  border radius
============================== */
/* ==============================
    transition
============================== */
/* ==============================
  transform
============================== */
/* ==============================
  box-shadow
============================== */
/* ==============================
  border radius
============================== */
/* ==============================
    center vertically
============================== */
/* ==============================
  make center
============================== */
/* ==============================
    text rendering
============================== */
/* ==============================
    mixin default font
============================== */
/** Bold */
@font-face {
  font-family: 'SF Display';
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf"); }

/* ==============================
    default font-size, line-height
============================== */
/* ==============================
    opacity
============================== */
/* ==============================
    fonts
============================== */
body {
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  font-family: 'Spoqa Han Sans', 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  -webkit-font-family: 'Spoqa Han Sans', 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: ink;
  color: #333; }
  body .en {
    font-family: 'SF Pro Display', 'SF Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-family: 'SF Pro Display', 'SF Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; }

a {
  color: #FFBE19;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
  -khtml-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  a:hover {
    color: #D69F14; }

h1 {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 25.6px;
  line-height: 1.6rem; }

h3 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 51.2px;
  line-height: 3.2rem; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem; }
  p b {
    font-weight: 700; }

/* ==============================
    button global extends
============================== */
/* ==============================
    global container wrapper
============================== */
.container {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  @media only screen and (max-width: 1280px) {
    .wrapper {
      width: 800px; } }
  @media only screen and (max-width: 980px) {
    .wrapper {
      width: 640px; } }
  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 480px; } }
  @media only screen and (max-width: 520px) {
    .wrapper {
      width: 360px; } }
  @media only screen and (max-width: 360px) {
    .wrapper {
      width: 328px; } }
  @media only screen and (max-width: 320px) {
    .wrapper {
      width: 288px; } }

/* ==============================
    text size with media query
============================== */
.terms .terms-wrapper {
  color: #333;
  margin: 0 auto;
  padding: 128px 0 128px;
  max-width: 640px;
  line-height: 28.8px;
  line-height: 1.8rem; }
  .terms .terms-wrapper p {
    margin-bottom: 8px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 28.8px;
    line-height: 1.8rem; }
  .terms .terms-wrapper h1 {
    color: #333;
    font-size: 32px;
    font-size: 2rem; }
  .terms .terms-wrapper h3 {
    color: #333;
    margin-top: 64px;
    margin-bottom: 8px;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 38.4px;
    line-height: 2.4rem; }
  .terms .terms-wrapper ul li {
    margin-bottom: 8px;
    list-style-type: disc !important; }
  .terms .terms-wrapper li {
    margin-left: 24px; }
  .terms .terms-wrapper .terms-list {
    margin-top: 16px; }
    .terms .terms-wrapper .terms-list li {
      margin: 4px 0; }
  .terms .terms-wrapper ol {
    margin: 0 0 0 1.5em;
    padding: 0;
    counter-reset: item; }
    @media only screen and (max-width: 360px) {
      .terms .terms-wrapper ol {
        margin: 0 0 1em; } }
    .terms .terms-wrapper ol > li {
      margin: 0;
      margin-bottom: 8px;
      padding: 0 0 0 1.25em;
      text-indent: -1.25em;
      list-style-type: none;
      counter-increment: item; }
      .terms .terms-wrapper ol > li > ul {
        padding-left: 1.5em !important; }
        .terms .terms-wrapper ol > li > ul > li {
          padding: 0 !important;
          text-indent: 0 !important; }
      .terms .terms-wrapper ol > li > ol {
        counter-reset: item; }
        .terms .terms-wrapper ol > li > ol > li {
          display: block;
          counter-increment: item; }
          .terms .terms-wrapper ol > li > ol > li:before {
            content: counters(item, ".") ""; }
      @media only screen and (max-width: 360px) {
        .terms .terms-wrapper ol > li {
          padding: 0 0 0 1em;
          text-indent: -1em; } }
      .terms .terms-wrapper ol > li:before {
        display: inline-block;
        width: 1em;
        padding-right: 8px;
        font-weight: bolder;
        text-align: right;
        content: counter(item) "."; }
        @media only screen and (max-width: 360px) {
          .terms .terms-wrapper ol > li:before {
            padding-right: 4px; } }
      .terms .terms-wrapper ol > li > ul > li, .terms .terms-wrapper ol > li > ol > li {
        margin: 0;
        padding: 0 0 0 1.5em;
        text-indent: -1.5em; }
        @media only screen and (max-width: 360px) {
          .terms .terms-wrapper ol > li > ul > li, .terms .terms-wrapper ol > li > ol > li {
            padding: 0 0 0 1.25em;
            text-indent: -1.25em; } }
  @media only screen and (max-width: 768px) {
    .terms .terms-wrapper {
      padding: 96px 32px 96px; } }
  @media only screen and (max-width: 420px) {
    .terms .terms-wrapper {
      padding: 48px 24px 64px; }
      .terms .terms-wrapper h1 {
        font-size: 28px;
        font-size: 1.75rem; }
      .terms .terms-wrapper h3 {
        font-size: 21px;
        font-size: 1.3125rem; } }
  @media only screen and (max-width: 360px) {
    .terms .terms-wrapper {
      padding: 32px 16px 64px; }
      .terms .terms-wrapper h1 {
        font-size: 24px;
        font-size: 1.5rem; }
      .terms .terms-wrapper h3 {
        font-size: 21px;
        font-size: 1.3125rem; } }

.terms .top-btn {
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  width: 192px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 64px;
  text-align: center;
  margin-top: 64px;
  background-color: #FFBE19;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-will-change: border-radius;
  -khtml-will-change: border-radius;
  -moz-will-change: border-radius;
  -ms-will-change: border-radius;
  -o-will-change: border-radius;
  will-change: border-radius;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  .terms .top-btn:hover {
    background-color: #D69F14;
    -webkit-transition: all 0.25s ease;
    -khtml-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-will-change: transition;
    -khtml-will-change: transition;
    -moz-will-change: transition;
    -ms-will-change: transition;
    -o-will-change: transition;
    will-change: transition; }
  .terms .top-btn::after {
    content: "Back to Top"; }

.terms .footer-wrapper {
  padding: 16px 0; }
  .terms .footer-wrapper footer {
    width: auto;
    margin: 0 auto;
    max-width: 640px; }
    @media only screen and (max-width: 768px) {
      .terms .footer-wrapper footer {
        margin: 0 auto;
        padding: 0 32px; } }
    @media only screen and (max-width: 360px) {
      .terms .footer-wrapper footer {
        margin: 0 auto;
        padding: 0 24px; } }
